<ion-view view-title="Confirm Reset Password" hide-nav-bar="true" hide-back-button="true" cache-view="false" nav-transition="none" id="page13">
  <ion-content padding="true" style="background: linear-gradient(lightgray,#7253C3) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="true">
      <form id="confirmResetPassword-form7" class="list">
          <div id="confirmResetPassword-markdown14" ng-if="error" class="show-list-numbers-and-dots error-box">
              <p style="color:#000000;">{{error}}</p>
          </div>
          <div class="spacer" style="width: 300px; height: 44px;"></div>
          <div>
              <img src="img/p2s7oKY1SqCJP72PJyyt_CityWalkingLogoNewPNG.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
          </div>
          <div class="spacer" style="width: 300px; height: 26px;"></div>
          <div id="confirmResetPassword-markdown15" style="text-align:center;" class="show-list-numbers-and-dots">
              <p style="color:#000000;font-size:large;">
                  Enter received code and new password:
              </p>
          </div>




          <ion-list id="confirmResetPassword-list7">
              <label class="item item-input" id="confirmResetPassword-input14" style="margin-left:5%; background:none; border:none;  width:85%">
                  <i class="icon ion-calculator placeholder-icon" style="font-size:27px;"></i>
                  <input type="text" style="font-size: large;border-bottom: 1px solid #636060;" placeholder="Code" ng-model="data.code">
              </label>
              <label class="item item-input" id="confirmResetPassword-input15" style="margin-left:5%; background:none; border:none;  width:85%">
                  <i class="icon ion-locked placeholder-icon" style="font-size:27px;"></i>
                  <input type="password" style="font-size: large;border-bottom: 1px solid #636060;" placeholder="New password" ng-model="data.newpassword">
              </label>
          </ion-list>
          <button id="confirmResetPassword-button10" ng-click="reset()" style="font-weight:600;color:#FFFFFF;border-radius:15px 15px 15px 15px; width:85%;margin-left:8%" class="button button-royal  button-block">Reset password</button>


          <a ui-sref="login" id="confirmResetPassword-button14" style="font-weight:600;color:#000000;" class="button button-light  button-block button-clear">Log in</a>
      </form>
  </ion-content>
</ion-view>