
<ion-view title="Friends Routes" id="page16">
  <ion-content padding="false" class="has-header" style="background: linear-gradient(lightgray,#7253C3)">
      <a ui-sref="menu.EditFriends" style="font-weight:600;color:#FFFFFF;border-radius:15px 15px 15px 15px; width:75% ;margin-left:12.5%; " class="button button-royal  button-block">Add/remove friends</a>
      <p style="color:black;font-size:large; text-align:center;top:10%">
          Press on your friend to get their walked routes</p>

          <ion-list ng-init="getFriendsData()">
              <ion-item class="item item-icon-left" ng-repeat="friend in myData" ng-click="getFriendsRoutes(friend)" style="background: linear-gradient(#937bd1,#7253C3);color:white;border:none">
                  <i class="icon ion-person placeholder-icon"></i>
              <p style="color:white; font-size:larger"> {{friend}} </p>
              <p style="color:white"> Walked routes: </p>

          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
