k<ion-view title="My Routes" id="page10">
    <ion-content padding="true" class="has-header">
        <ion-toggle ng-model="shouldShowDelete">
            Show Delete button?
        </ion-toggle>
        <ion-list show-delete="shouldShowDelete">
            <ion-item>
                ID: {{itemData._id}}<p>&nbsp;</p>Namn: {{itemData.name}}<p>&nbsp;</p>Distance: <input type="text" placeholder={{itemData.distance}} ng-model="data.distance"><p>&nbsp;</p>Created: {{itemData.create_date}}
                <ion-delete-button class="ion-minus-circled" ng-click="deleteRouteData(itemData)"></ion-delete-button>
                <ion-option-button class="button-assertive" ng-click="updateDistance(itemData)">Edit</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>