<ion-view title="Route: {{itemData.title}}" id="page10">
    <ion-content padding="false" scroll="false" class="has-header" style="background: linear-gradient(lightgray,#7253C3)">


        <!--INITIAL VIEW-->

        <div ng-hide="clickedComment || clickedWalk || clickedStop">

            <div ng-init="itemMapSmall()" id="map_item_small" style="position:absolute;top:0;left:0;width:100%;height:53%;"> </div>

            <ion-list class="list card" style="position:absolute;width:100%;margin:auto;bottom:16%;background: linear-gradient(#7253C3,#937bd1)">

                <div class="item  item-icon-left item-divider" style="background:none;color:white">
                    <i class="icon ion-ios-person"></i>
                    {{itemData.creatorId}}
                </div>
                <div class="item  item-icon-left item-divider" style="background:none;color:white">
                    <i class="icon ion-ios-calendar"></i>
                    {{itemData.createdAt}}
                </div>
                <div class="item  item-icon-left item-divider" style="background:none;color:white">
                    <i class="icon ion-ios-timer"></i>
                    {{itemData.time}} (min:sec)
                </div>
                <div class="item  item-icon-left item-divider" style="background:none;color:white">
                    <i class="icon ion-map"></i>
                    {{itemData.distance}} (km)
                </div>

                <div class="item item-icon-left item-divider" style="background:none;color:white">
                    <i class="icon ion-thumbsup"></i>
                    {{itemData.score["0"].score}}
                </div>

            </ion-list>
            <button id="recordRoute-button25" style="position:absolute;width:100%;margin:auto;bottom:8%" ng-click="clickedComment=true" class="button icon-left ion-ios-chatbubble button-block button-positive"> Comments </button>

            <button id="recordRoute-button25" style="position:absolute;width:100%;margin:auto;bottom:0%" ng-click="walkRecordedRoute(); clickedWalk=true" class="button icon-left ion-android-walk button-block button-balanced"> Walk route </button>


        </div>

        <!--Comment VIEW-->
        <div ng-init="updateItem()" ng-show="clickedComment">
        
                <ion-scroll id="comments-container1" style="position:absolute;top:0%;bottom:7.75%">
                    <ion-list id="comments-list2">
                        <ion-item class="item" id="comments-list-item1" ng-repeat="x in itemData.comments" style="background: linear-gradient(white,#fefefe);border:none">
                            <p style="color:gray;font-size:small">{{x.userId}} &bull; {{x.date}}</p>
                            <textarea disabled style="color:black;width:100%;background-color:white">{{x.comment}}</textarea>
                        </ion-item>
                    </ion-list>
                </ion-scroll>
       
                
                    <label class="item item-input" id="comments-input4" style="position:absolute;width:80%;margin:auto;bottom:0%;left:10%">
                        
                        <input type="text" placeholder="Message" ng-model="data.message" ng-submit="sendComment()" style="left:10%">
                    </label>
                    
                   <button style="position:absolute;bottom:0%;left:0%;width:10%;color:red;border-right:none;background-color:white" id="comments-button2" ng-click="clickedComment=false" class="button icon-left ion-close-round"></button>
                   <button type="submit" style="position:absolute;bottom:0%;left:90%;width:10%;color:#7253C3;border-left:none;background-color:white" id="comments-button2" ng-click="sendComment()" class="button icon-left ion-android-send"></button>

                
            </div>

        <!--Walks VIEW-->
        
            <div ng-show="clickedWalk" id="map_item_full" style="position:relative;top:0;left:0;width:100%;height:92%;"></div>
             <div ng-show="clickedWalk" style="position:absolute;margin:auto;left:43%;top:40%"> <ion-spinner icon="bubbles" class="spinner-balanced"> </ion-spinner> </div>
            <div ng-show="clickedWalk" style="position:absolute;margin:auto;left:35%;top:50%;color:white"> Map is loading . . .  </div>
            <button ng-show="clickedWalk" id="recordRoute-button25" style="position:relative;width:100%;margin:auto;bottom:0%" ng-click="stopWatchingRoute(); clickedWalk=false; clickedStop=true" class="button icon-left ion-stop button-assertive button-block"> Done Walking </button>
        

        <!-- Review View-->
        <div ng-show="clickedStop">

                <div class="list">

                    <div class="item item-divider item-icon-left" style="background-color:white;color:#7253C3">
                        <i class="icon ion-ios-information"></i>
                        Route Information
                    </div>
                    <a class="item">
                        Route title: {{itemData.title}}
                    </a>
                    <a class="item">
                        Created by: {{itemData.creatorId}}
                    </a>
                    <a class="item" >
                        Route Distance: {{itemData.distance}} (km)
                    </a>

                    <div class="item item-divider item-icon-left" style="background-color:white;color:#7253C3">
                        <i class="icon ion-android-textsms"></i>
                        Add a comment
                    </div>
                    <label class="item item-input">
                        <textarea required rows="4" maxlength="220" placeholder="Input a comment here!" ng-model="data.routeWalkComment"></textarea>
                    </label>
                    <div class="item item-divider item-icon-left" style="background-color:white;color:#7253C3">
                        <i class="icon ion-thumbsup"></i>
                        Route rating <i class="balanced" style="text-align:right;font-style:italic;font-size:smaller"> *optional</i>

                    </div>
                    <li class="item item-toggle">
                        Recommend Route?
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="data.routeWalkLike" ng-true-value="1" ng-false-value="0">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                </div>

            </div>

            <!-- No comment-->
            <button style="position:absolute;bottom:0%;left:0%;width:30%" id="recordRoute-button26" ng-click="resetCommentsRating();clickedStop=false; clickedWalk=false; clickedComment=false" class="button icon-left ion-ios-close-outline button-assertive" ng-show="clickedStop">Skip</button>
            <!-- Send comment+rating-->
            <button style="position:absolute;bottom:0%;left:30%;width:70%" id="recordRoute-button27" ng-click="sendCommentRating();clickedStop=false; clickedWalk=false; clickedComment=false" class="button icon-left ion-paper-airplane button-royal" ng-show="clickedStop">Submit</button>



        
</ion-content>
</ion-view>