<ion-view title="Nearby Routes" hide-back-button="true" id="page5">
  <ion-content padding="true" class="has-header">
    <button id="nearbyRoutes-button23" ng-click="findNearbyRoutes()" class="button button-balanced  button-block">Find nearby routes</button>
    <div class="item item-body" id="nearbyRoutes-list-item-container4">
      <div id="nearbyRoutes-markdown27" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">{{$scope.data.routes}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>