<ion-view title="Settings" id="page12">

        <ion-content padding="true" class="has-header" style="background: linear-gradient(lightgray,#7253C3)">

            <p style="color:#636060;font-size:large; margin-left:25%">
                Uppdate acoount:
            </p>
            <form class="list" ng-init="getSettingsData()">
                <label class="item item-input" style="margin-left:3%; background:none; border:none; width:85%;">
                    <i class="icon ion-ios-email placeholder-icon" style="font-size:27px;"></i>

                    <input type="email" placeholder="EmailFromServer" style="font-size: large; color:black; border-bottom: 1px solid #636060;">
                </label>

                <div class="spacer" style="width: 300px; height: 19px;"></div>

                <label class="item item-input" style="margin-left:3%; background:none; border:none; width:85%;">
                    <i class="icon ion-person placeholder-icon" style="font-size:27px;"></i>

                    <input type="text" placeholder="UsernameFromServer" style="font-size: large; color:black; border-bottom: 1px solid #636060;">
                </label> 




                <div class="spacer" style="width: 300px; height: 19px;"></div>
                <label class="item item-input" style="margin-left:3%; background:none; border:none; width:85%;">
                    <i class="icon ion-locked placeholder-icon" style="font-size:27px;"></i>

                    <input type="password" placeholder="PasswordFromServer" style="font-size: large; color:black; border-bottom: 1px solid #636060;">
                </label>
            </form>

            
            <button style="font-weight:600;color:#FFFFFF;border-radius:15px 15px 15px 15px; width:75% ;margin-left:12.5%; " class="button button-balanced  button-block">Save Changes</button>
            <b>(Commit changes to server)</b>
            <a ui-sref="menu.EditFriends" style="font-weight:600;color:#FFFFFF;border-radius:15px 15px 15px 15px; width:75% ;margin-left:12.5%; " class="button button-royal  button-block">Edit Friends</a>
        </ion-content>
</ion-view>


