<ion-view title="Top Routes" hide-back-button="true" id="page7">
    <ion-content padding="true" class="has-header">
        <button id="login-button1" ng-click="getRouteData()" style="font-weight:600;color:#FFFFFF ;border-radius:15px 15px 15px 15px;" class="button button-royal  button-block">Load Top Routes</button>
        <b>(Load without button)</b>
        <ion-list>
            <ion-item class="item item-thumbnail-left" ng-repeat="x in myData" ng-click="getRouteInfo(x)">
                <img src="../img/route.png" />

                <b> Load from server:</b> <p>&nbsp;</p> Username <p>&nbsp;</p> Distance: <input type="text" placeholder={{x.distance}} ng-model="data.distance"><p>&nbsp;</p>  Avarage rating:  <p>&nbsp;</p>  *DropDownIcon <p>&nbsp;</p> Count(#comments in commentsattribute) <p>&nbsp;</p>
         
                <ion-option-button class="button-assertive" ng-click="updateDistance(x)">Edit</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>